.chip{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    height: 81px;
    width: 84px;
    background:#6B1304;
    border-radius: 3px;
    border: 1px solid #6B1304;
    margin: 5px;
}

.bonus{
    margin-top: -9px;
    width: 49px;
    height: 30px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    background: #f79d00;
}